*.vtk
*.sta
*.out
*.eig
*.12d
*.cvg
*.dat
*.frd
*.unv
*.inp
*.hdf
*.gif
*.hdf
*.vtu
*.png
!run/**/*.png
__pycache__
*.pyc
dump.py
*.egg*
*.stl
*.unv
run/study*/openfoam
run/study_prop_test_1
run/study_prop_test_2
templates/openfoam/incfluid_fsi*
templates/openfoam/propeller*
