/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  dev
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    format      ascii;
    class       dictionary;
    object      momentumTransport;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

simulationType {{ simulationType }};
{% if simulationType != "laminar" %}
{{ simulationType }}
{
    {% for key, value in simulationTypeOptions.items() %}
    {{ key }} {{ value }};
    {% endfor %}
}
{% endif %}


// ************************************************************************* //
