FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    object      snappyHexMeshDict;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

#includeEtc "caseDicts/mesh/generation/snappyHexMeshDict.cfg"

castellatedMesh true;
snap            true;
addLayers       $!addLayers!$;
geometry
{
    propeller.stl
    {
        type    triSurfaceMesh;
        name    propeller;
        file    "propeller.stl";
        regions
        {
            hub_cap
            {
                name hub_cap;
            }
            hub
            {
                name hub;
            }
            blade_0
            {
                name blade_0;
            }
            blade_1
            {
                name blade_1;
            }
        }
    }
    shaft
    {
        type searchableCylinder;
        point1 (@!xmin_shaft!@ 0 0);
        point2 (@!xmax_shaft!@ 0 0);
        radius @!r_shaft!@;
    }
    propellerFrame
    {
        type searchableCylinder;
        point1 (@!xmin_prop_frame!@ 0 0);
        point2 (@!xmax_prop_frame!@ 0 0);
        radius @!r_prop_frame!@;
    }
    outerCylinder
    {
        type searchableCylinder;
        point1 (@!xmin!@ 0 0);
        point2 (@!xmax!@ 0 0);
        radius @!rmax!@;
    }
}
castellatedMeshControls
{
    features
    (
    );
    refinementSurfaces
    {
        propeller
        {
            level (@!propeller_level_min!@ @!propeller_level_max!@);
            regions
            {
                hub_cap
                {
                    level (@!propeller_level_hub_min!@ @!propeller_level_hub_max!@);
                    patchInfo
                    {
                        type wall;
                    }
                }
                hub
                {
                    level (@!propeller_level_hub_min!@ @!propeller_level_hub_max!@);
                    patchInfo
                    {
                        type wall;
                    }
                }
                blade_0
                {
                    level (@!propeller_level_blades_min!@ @!propeller_level_blades_max!@);
                    patchInfo
                    {
                        type wall;
                    }
                }
                blade_1
                {
                    level (@!propeller_level_blades_min!@ @!propeller_level_blades_max!@);
                    patchInfo
                    {
                        type wall;
                    }
                }
            }
        }
        shaft
        {
            level (@!shaft_level_min!@ @!shaft_level_max!@);
            patchInfo
            {
                type wall;
            }
        }
        propellerFrame
        {
            level (@!propeller_frame_level_min!@ @!propeller_frame_level_max!@);
            cellZone propellerFrame;
            faceZone propellerFrame;
            mode inside;
        }
        outerCylinder
        {
            level (@!outer_cylinder_level_min!@ @!outer_cylinder_level_max!@);
            patchInfo
            {
                type wall;
            }
        }
    }
    insidePoint (@!x_inside_point!@ @!y_inside_point!@ @!z_inside_point!@);
}
snapControls
{
    nSmoothPatch    5;
    tolerance       4.0;
    nSolveIter      300;
    nRelaxIter      10;
    nFeatureSnapIter 20;
    implicitFeatureSnap    true;
}
addLayersControls
{
    relativeSizes false;
    layers
    {
        /*
        fluid_to_cooler
        {
            nSurfaceLayers 2;
        }
        isolated
        {
            nSurfaceLayers 2;
        }
        */
    }
    expansionRatio            1.2;
    finalLayerThickness    5.0e-4;
    minThickness            1e-20;
    nGrow                       1;
    featureAngle              180;
    nRelaxIter                 10;
    nSmoothSurfaceNormals       1;
    nSmoothNormals              3;
    nSmoothThickness           15;
    maxFaceThicknessRatio     1.0;
    maxThicknessToMedialRatio 1.0;
    minMedianAxisAngle          0;
    nBufferCellsNoExtrude       0;
    nLayerIter                 50;
}
mergeTolerance 1e-9;
