 ** Generated INP via Jinja2
*Heading
** model: {{ name }}
** generated: {{ now }}

** include mesh exported from Salome (must contain NSET/ELSET names you reference)
*INCLUDE, INPUT={{ mesh_file }}

** Materials
*Material, name={{ material.name }}
*Density
{{ material.density }}
*Elastic
{{ material.youngs }}, {{ material.pratio }}

** Assign material to element set (ersetze ELSET_NAME durch den Setnamen in mesh.inp)
*Solid Section, elset={{ elset_name }}, material={{ material.name }}

*BOUNDARY
{{ boundary_fix }}, 1, 3, 0.0

** Loads / Steps
*Step, name=step1
*Frequency,Storage=Yes
{{ n_frequencies }}
*NODE FILE
U
*END STEP
