/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  dev
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    format      ascii;
    class       volScalarField;
    location    "0";
    object      k;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

dimensions      [turbulentKineticEnergy];

{% set Re = (rho*U*d)/mu %}
{% set intens = 0.16*Re**(-1.0/8.0) %}
{% set length = 0.07*d %}
{% set kappa = 3.0/2*(U*intens)**2 %}

internalField   uniform {{ kappa }};

boundaryField
{
    #includeEtc "caseDicts/setConstraintTypes"

    front
    {
        type            turbulentKineticEnergy;
        intensity       {{ intensity }};
        value           $internalField;
    }

    back
    {
        type            turbulentKineticEnergy;
        intensity       {{ intensity }};
        value           $internalField;
    }

    outerCylinder
    {
        type            zeroGradient;
    }

    wall
    {
        type            kqRWallFunction;
        value           $internalField;
    }
}


// ************************************************************************* //
